@main("Kids") {
    <div class="jumbotron text-center">
            <h1>..........</h1>
            <p>Resize this responsive page to see the effect!</p>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <img src="addias.jpg" alt="addias">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
              </div>
              <div class="col-sm-4">
                <h3>Column 2</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
              </div>
              <div class="col-sm-4">
                <h3>Column 3</h3>
                <p>Lorem ipsum dolor..</p>
                <p>Ut enim ad..</p>
              </div>
            </div>
            <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                  </div> 
          </div> 
}

